.button {
  background-color: #2f346b;
  color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: 'Coda Caption', sans-serif;
    margin-top: 10px;
    border-radius: 90px;
  }
