.cards{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;  
}

.tittle{
    color: white;
    background-color: #2f346b;
   height: 50px;
  margin-left: 600px;
  margin-right: 600px;
}

.button {
    background-color: #2f346b;
  color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: 'Coda Caption', sans-serif;
    margin-top: 10px;
    border-color: #2f346b;
    border-radius: 90px;
  }

  .select{
    background-color: #2f346b;
  color: white;
    padding: 5px 5px;
    text-align: center;
    font-family: 'Coda Caption', sans-serif;
    margin-top: 5px;
  }